.edit-profile-page {
  height: 860px;
  width: 1150px;
  margin: auto;
  .edit-profile-block {
    width: 1030px;
    margin: auto;
    display: grid;
    grid-template-columns: 1.1fr 3fr;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 4px;
    .EP-left {
      font-family: 'roboto';
      border-right: 1px solid rgb(233, 233, 233);
      div {
        height: 60px;

        border-left: 2px solid black;
        h3 {
          font-size: 18px;

          margin: 0 0 0 35px;
          padding-top: 16px;
        }
      }
      ul {
        padding: 0;

        li {
          margin: 0;
          padding: 0;
          list-style-type: none;
          text-transform: capitalize;
          font-size: 20px;
          margin: 20px 0 0 35px;
          padding-top: 16px;
        }
      }
    }
    .EP-right {
      height: 730px;
      display: grid;
      grid-gap: 38px;
      grid-template-columns: 1fr 2fr;
      .eb-left {
        text-align: right;
        font-family: 'roboto';
        img {
          padding: 0;
          height: 45px;
          width: 45px;
          border-radius: 50%;
          margin-top: 34px;
        }
        h5 {
          font-size: 18px;
          margin: 8px 0 0 35px;
          padding-top: 16px;
        }
        h6 {
          font-size: 18px;
          margin: 20px 0 0 35px;
          padding-top: 16px;
        }
        #h51 {
          margin-top: 15px;
        }
        #h52 {
          margin-top: 19px;
        }
        #h53 {
          margin-top: 92px;
        }
        #h54 {
          margin-top: 13px;
        }
        #h55 {
          margin-top: 16px;
        }
      }
      .eb-right {
        h3 {
          font-size: 26px;
          font-family: 'roboto';
          font-weight: normal;
          margin: 30px 0 4px 0;
        }
        span {
          font-family: 'roboto';
          font-size: 16px;
          font-weight: 600;
          color: #3897f0;
          margin: 0;
        }
        ul {
          padding: 0;
          margin: 0;
          li {
            padding: 0;
            list-style-type: none;
            text-transform: capitalize;
            font-size: 20px;
            margin: 3px 0 3px 0;
            padding-top: 16px;
            input {
              border-radius: 4px;
              border: 1px solid rgb(240, 240, 240);
              height: 30px;
              width: 340px;
            }
            textarea {
              border-radius: 4px;
              border: 1px solid rgb(240, 240, 240);
              height: 64px;
              width: 340px;
              overflow-y: scroll;
            }
            h6 {
              margin: 0;
              font-family: 'poppins';
              font-size: 16px;
              font-weight: 600;

              color: rgb(83, 49, 49);
              opacity: 0.7;
            }
            small {
              margin: 0;
              font-family: 'roboto';
              font-size: 16px;
              opacity: 0.8;
              font-weight: normal;
            }
          }
        }
        #check {
          margin: 44px 12px 0 0;
          width: 21px;
          height: 21px;
          float: left;
        }
        p {
          width: 320px;
          margin-top: 28px;
          font-family: 'poppins';
          line-height: 1.2;
          font-size: 16px;
          font-weight: 600;
          span {
            margin: 0 4px;
            font-size: 16px;
            font-family: 'roboto';
            font-weight: 600;
          }
        }
        button {
          margin: 28px 0 0 0;
          padding: 0;
          width: 80px;
          height: 32px;
          background: #3897f0;
          color: white;
          font-size: 14px;
          font-weight: bold;
          text-transform: capitalize;
          border: none;
          border-radius: 4px;
          float: left;
        }
        h2 {
          font-size: 14px;
          color: #3897f0;
          font-family: 'roboto';
          letter-spacing: 0.5px;
          margin: 56px 0 0 160px;
        }
      }
    }
  }
}
