//  font-family: -apple-system,BlinkMacSystemFont,
// "Segoe UI",Roboto,Helvetica,Arial,sans-serif;

.instagram {
  height: 1400px;
  .home-page {
    .insta-body {
      width: 1080px;
      margin: auto;

      height: 1000px;
      display: grid;
      grid-template-columns: 2.1fr 1fr;
      font-family: 'Helvetica';
      .profile-stories {
        .profile {
          height: 74px;

          p {
            font-family: 'Helvetica';
            padding: 0;
            margin: 0;
            img {
              padding: 0;
              height: 56px;
              width: 56px;
              border-radius: 50%;
              margin: 0;
              float: left;
            }
            h5 {
              height: 15px;

              font-size: 15px;
              margin: 0 0 2px 72px;
              padding: 10px 0 0 0;
            }
            span {
              font-size: 13px;
              margin: -2px 10px 0 16.5px;
              opacity: 0.8;
              color: #1b1a1a96;
              font-family: 'arial';
            }
            b {
              font-size: 13px;
            }
          }
        }
        .home-stories {
          height: 350px;

          .story-post {
            height: 250px;
            width: 300px;
            overflow: auto;
            padding: 0 0 0 22px;
            background: white;
            border-radius: 4px;
            border: 1px solid rgb(233, 233, 233);

            h6 {
              small {
                margin: 0;
                padding: 0;
                font-size: 16px;
                font-weight: normal;
                opacity: 0.4;
                font-family: 'ubuntu';
              }
              span {
                margin: 0 15px;
                padding: 0;
                font-size: 14px;

                float: right;
                font-weight: 600;
                font-family: 'hind';
              }
            }

            .story-profile {
              height: 56px;
              p {
                padding: 0;
                margin: 0;

                img {
                  padding: 0;
                  height: 46px;
                  width: 46px;
                  border-radius: 50%;
                  margin: 0;
                  float: left;
                }
                h5 {
                  font-size: 16px;
                  margin: 0 0 2px 70px;
                  padding: 5px 0 0 0;

                  font-family: 'Days One', sans-serif;
                }
                span {
                  margin: 0 0 0 25px;

                  font-size: 12px;
                  font-weight: normal;
                  text-transform: uppercase;
                  opacity: 0.4;
                  font-family: 'Hind', sans-serif;
                }
              }
            }
          }
          .suggestion-post {
            height: 250px;
            width: 300px;
            margin: 20px 0 0 0;
            overflow: hidden;
            padding: 0 0 0 22px;
            background: white;
            border-radius: 4px;
            border: 1px solid rgb(233, 233, 233);

            h6 {
              small {
                margin: 0;
                padding: 0;
                font-size: 16px;
                font-weight: normal;
                opacity: 0.4;
                font-family: 'poppins';
              }
              span {
                margin: 0 15px;
                padding: 0;
                font-size: 14px;

                float: right;
                font-weight: 600;
                font-family: 'hind';
              }
            }

            .suggestion-profile {
              height: 56px;

              p {
                padding: 0;
                margin: 0;

                img {
                  padding: 0;
                  height: 46px;
                  width: 46px;
                  border-radius: 50%;
                  margin: 0;
                  float: left;
                }
                h5 {
                  font-size: 16px;
                  margin: 0 0 2px 70px;
                  padding: 5px 0 0 0;
                  font-family: 'Days One', sans-serif;
                }
                span {
                  margin: 0 0 0 25px;

                  font-size: 12px;
                  font-weight: normal;
                  opacity: 0.4;
                  font-family: 'poppins', sans-serif;
                  float: left;
                }
                h4 {
                  margin: -9px 18px 0 0;
                  font-size: 12px;
                  text-transform: capitalize;
                  font-family: 'poppins', sans-serif;
                  float: right;
                  color: rgba(var(--h5f, 56, 151, 240), 1);
                }
              }
            }
          }
          .footer-section {
            padding: 0;
            padding-top: 12px;
            p {
              padding: 0;
              font-family: 'Arimo', sans-serif;
              font-size: 13px;
              margin: 7px 0;
              opacity: 0.2;
              i {
                padding: 0;
                vertical-align: middle;
                font-size: 2px;
                margin: 0 6px;
              }
            }
            h3 {
              font-family: 'Arimo', sans-serif;
              font-size: 12px;
              letter-spacing: 1px;
              margin: 14px 0;
              opacity: 0.2;
            }
          }
        }
      }
    }
  }
}
