.insta-comment-page {
  background: red;
  .insta-comment-block {
    width: 1015px;
    height: 700px;
    background: yellow;
    margin: 0 auto 80px auto;
    .insta-comment-box {
      width: 1015px;

      background: rgb(0, 204, 255);
      display: grid;
      grid-template-columns: 3.1fr 2fr;
      border: 1px solid rgb(243, 243, 243);
      border-radius: 4px;
      .insta-comment-left {
        background: yellowgreen;
        height: 600px;
        img {
          margin: 0;
          width: 100%;
          height: 600px;
        }
      }
      .insta-comment-right {
        background: deeppink;
        .user-comment-profile {
          border-top-right-radius: 4px;
          height: 75px;
          border: 1px solid rgb(243, 243, 243);
          img {
            margin: 12px 0 0 12px;
            padding: 0;
            height: 46px;
            width: 46px;
            border-radius: 50%;
            float: left;
            border: 3px solid red;
          }

          p {
            margin: 0;
            padding: 20px 0 0 72px;

            font-size: 15px;
            font-family: 'Helvetica';
            font-weight: 600;

            b {
              #i1 {
                vertical-align: middle;
                margin: 0 10px 0 10px;
                padding: 0;

                font-size: 5px;
              }
              font-size: 15px;
              font-family: 'Helvetica';
              //   font-family:  'Segoe UI', Roboto,
              //     Helvetica, Arial, sans-serif;
            }
            #i2 {
              vertical-align: middle;
              margin: -7px 20px 0 20px;
              padding: 0;
              float: right;
              font-size: 22px;
              opacity: 0.7;
            }
          }
          small {
            font-size: 13px;
            margin: 0 10px 0 10px;
            font-weight: normal;
            font-family: 'Arial';
          }
        }
        .user-comment {
          height: 75px;

          img {
            margin: 12px 0 0 12px;
            padding: 0;
            height: 46px;
            width: 46px;
            border-radius: 50%;
            float: left;
            border: 3px solid red;
          }

          p {
            margin: 0;
            padding: 20px 0 0 72px;
            font-size: 15px;
            font-family: 'Helvetica';
            font-weight: 600;

            span {
              font-weight: normal;
              font-size: 16px;
              font-family: 'Helvetica';
            }
          }
        }
      }
    }
  }
}
