.login-page {
  height: 1000px;
  width: 410px;
  margin: 80px auto;
  font-family: 'Helvetica';
  .login-block {
    text-align: center;
    .login-form-block {
      .login-form {
        margin-left: 10px;
        height: 450px;
        width: 390px;
        text-align: center;
        border-radius: 2px;
        border: 1px solid rgb(230, 230, 230);

        img {
          margin: 38px 0 0 0;
          height: 60px;
          width: 200px;
        }
        h3 {
          font-size: 18px;
          letter-spacing: 0.5px;
          margin: 10px 70px;
          opacity: 0.4;
        }
        h4 {
          margin: 35px 0 20px 0;

          font-size: 15px;
          font-weight: 600;
          color: rgb(1, 1, 124);
          i {
            margin: 0 12px;
            font-size: 18px;
          }
        }
        h6 {
          font-size: 14px;

          margin: 5px 0;
          font-weight: normal;
          opacity: 0.8;
        }
        button {
          margin: 16px 0;
          width: 308px;
          height: 36px;
          background: #3897f0;
          outline: 0;
          border: none;
          border-radius: 6px;
          opacity: 0.4;

          span {
            font-size: 16px;
            font-weight: 600;
            color: white;
          }
        }

        #hr1 {
          width: 125px;
          margin: 20px 0 0 40px;
          border: 1px solid rgb(238, 238, 238);
        }
        #hr2 {
          width: 125px;
          margin: -12px 0 0 222px;
          border: 1px solid rgb(238, 238, 238);
        }
        #p1 {
          margin: -10px 0 0 0;
          opacity: 0.4;
          font-weight: bold;
          font-size: 15px;
        }
        ul {
          padding: 0;
          margin: 32px 0 0 0;
          li {
            list-style-type: none;
            input {
              width: 300px;
              height: 36px;
              margin: 8px 0;
              border-radius: 4px;
              background: rgb(255, 255, 255);
              border: 1px solid rgb(230, 230, 230);
              outline: none;
              padding: 0 0 0 10px;
            }
            input::placeholder {
              padding: 0;
              margin: 0;
            }
          }
        }

        h5 {
          margin: 0 80px;
          font-weight: bolder;
          font-size: 16px;
          opacity: 0.4;
        }
      }
      .signup-press {
        margin: 12px 0 0 10px;
        height: 80px;
        width: 390px;
        text-align: center;
        border-radius: 2px;
        border: 1px solid rgb(230, 230, 230);

        p {
          opacity: 0.8;
          font-size: 15px;
          margin: 26px 0 0 -40px;
          span {
            margin-left: 14px;
            color: #3897f0;
            font-weight: bold;
          }
        }
      }
    }

    .img {
      text-align: center;
      p {
        font-size: 16px;
        margin: 20px 0 10px 0;
      }

      img {
        margin: 15px 5px 10px 8px;
        width: 152px;
        height: 46px;
      }
    }
  }
}
