.login-page {
  height: 1000px;
  width: 1200px;
  margin: auto;
  .login-block {
    width: 950px;
    margin: 60px auto 60px auto;
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    .login-form-block {
      .login-form {
        margin-left: 10px;
        height: 650px;
        width: 390px;
        text-align: center;
        border-radius: 2px;
        border: 1px solid rgb(236, 236, 236);
        font-family: 'roboto';

        img {
          margin: 38px 0 0 0;
          height: 60px;
          width: 200px;
        }
        h3 {
          font-size: 18px;
          letter-spacing: 0.5px;
          margin: 10px 70px;
          opacity: 0.4;
        }
        button {
          margin: 10px 0;
          width: 300px;
          height: 33px;
          background: #3897f0;
          outline: 0;
          border: none;
          border-radius: 8px;
          color: white;
          font-size: 14px;
          font-weight: 600;
          i {
            margin: 0 12px;
            font-size: 18px;
          }
        }
        #hr1 {
          width: 125px;
          margin: 20px 0 0 40px;
          border: 1px solid rgb(236, 236, 236);
        }
        #hr2 {
          width: 125px;
          margin: -12px 0 0 222px;
          border: 1px solid rgb(236, 236, 236);
        }
        #p1 {
          margin: -10px 0 0 0;
          opacity: 0.4;
        }
        ul {
          padding: 0;
          margin: 32px 0 0 0;
          li {
            list-style-type: none;
            input {
              width: 300px;
              height: 36px;
              margin: 4px 0;
              border-radius: 4px;

              border: 1px solid rgb(236, 236, 236);
              outline: none;
              padding: 0 0 0 10px;
            }
            input::placeholder {
              padding: 0;
              margin: 0;
            }
          }
        }
        h4 {
          margin: 14px 0 4px 0;
          font-weight: normal;
          font-size: 16px;
          opacity: 0.4;
        }
        h5 {
          margin: 0 80px;
          font-weight: bolder;
          font-size: 16px;
          opacity: 0.4;
        }
      }
      .login-press {
        margin: 12px 0 0 10px;
        height: 80px;
        width: 390px;
        text-align: center;
        border-radius: 2px;
        border: 1px solid rgb(236, 236, 236);
        font-family: 'roboto';
        p {
          font-size: 16px;
          margin: 26px 0 0 -40px;
          span {
            margin-left: 14px;
            color: #3897f0;
            .insta-login {
              p {
                margin: -19px 0 0 175px;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
    .login-photo-block {
      width: 470px;
      height: 700px;
      .login-background {
        width: 410px;
        height: 700px;
        float: right;
        margin-top: 64px;
        background-repeat: no-repeat;
      }
      img {
        margin: 98px 0 0 150px;
        width: 242px;
        height: 430px;
      }
    }
    .img {
      text-align: center;
      p {
        font-size: 16px;
        font-family: 'roboto';
        margin: 20px 0 10px -25px;
      }

      img {
        margin: 15px 25px 10px -14px;
        width: 152px;
        height: 46px;
      }
    }
  }
  .instagram-all-footer {
    height: 30px;
    width: 1150px;
    margin: 50px auto;
    ul {
      padding: 0;

      list-style-type: none;
      text-transform: uppercase;
      li {
        font-size: 12px;
        margin: 0 20px 0 0;
        font-family: 'poppins';
        float: left;
        color: blue;
        font-weight: bolder;
      }
      span {
        float: right;
        font-size: 14px;
        margin: 0;
        font-family: 'poppins';
        color: black;
        opacity: 0.5;
        font-weight: bolder;
      }
    }
  }
}
