.change-password {
  display: grid;
  grid-gap: 38px;
  grid-template-columns: 0.8fr 2.5fr;
  .change-password-left {
    text-align: right;
    img {
      padding: 0;
      height: 43px;
      width: 43px;
      border-radius: 50%;
      margin-top: 40px;
    }
    h5 {
      font-size: 18px;
      opacity: 0.8;
      margin: 8px 0 0 35px;
      padding-top: 24px;
    }

    #h51 {
      margin-top: 15px;
    }
    #h52 {
      margin-top: 19px;
    }
    #h53 {
      margin-top: 10px;
    }
  }
  .change-password-right {
    h3 {
      font-size: 26px;
      opacity: 0.9;
      font-weight: normal;
      margin: 42px 0 4px 0;
    }
    ul {
      padding: 0;
      margin: 30px 0 0 0;
      li {
        padding: 0;
        list-style-type: none;
        text-transform: capitalize;
        font-size: 20px;
        margin: 3px 0 3px 0;
        padding-top: 18px;
        input {
          background: rgb(252, 252, 252);
          border-radius: 8px;
          border: 1px solid rgb(199, 199, 199);
          height: 40px;
          width: 450px;
          font-size: 16px;
          font-family: 'Helvetica';
          padding-left: 12px;
          opacity: 0.8;
          outline: none;
        }
      }
    }
    button {
      margin: 28px 0 30px 0;
      padding: 0;
      width: 144px;
      height: 32px;
      background: #3897f0;
      color: white;
      font-size: 14px;
      font-weight: bold;
      text-transform: capitalize;
      border: none;
      border-radius: 4px;
      opacity: 0.3;
      outline: none;
      cursor: pointer;
    }
    h2 {
      font-size: 15px;
      color: #3897f0;
      font-weight: bold;
      text-transform: capitalize;
      margin: 0 0 30px 0;
    }
  }
}
